
section[data-role="content"] {
	display: table;
	padding: 0;
	margin: 0;
}

#picFrame {
	display: table-cell;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

#thePicture {
	display: block;
	margin: 0 auto;
}